.game {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 70px 50% auto;
	grid-template-areas:
    	"top-stats top-stats"
    	"cookies-display upgrades"
    	"bottom-stats bottom-stats";
	justify-content: stretch;
	justify-items: stretch;
	align-items: stretch;
}

.top-stats { grid-area: top-stats; }

.cookies-display {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"cookie-button";
	justify-items: center;
	align-items: center;
	grid-area: cookies-display;
}

.cookie-button { grid-area: cookie-button; }

.upgrades {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10% 90%;
	grid-template-areas:
    	"upgrades-title"
    	"upgrades-menu";
	grid-area: upgrades;
}

.bottom-stats { grid-area: bottom-stats; }
.upgrades-title { grid-area: upgrades-title; }
.upgrades-menu { grid-area: upgrades-menu; }
