html, body, .game {
	text-align: center;
	height: 100%;
	margin: 0;
}

.stats {
	border-style: solid;
	background-color: lightgray;
}
.top-stats {
	border-width: 10px 10px 5px;
}
.bottom-stats {
	border-width: 5px 10px 10px;
}

.cookies-display,
.upgrades {
	border-style: solid;
}
.upgrades {
	border-width: 5px 10px 5px 5px;
}

.cookies-display {
	border-width: 5px 5px 5px 10px;
}
