html, body, .game {
	text-align: center;
	height: 100%;
	margin: 0;
}

.stats {
	background-color: lightgray;
}

.top-stats h2 {
	margin-top: 15px;
}

.bottom-stats {
	padding: 1em;
}

.credits h2 {
	text-decoration-line: underline;
	text-underline-offset: 4px;

	font-size: large;
}
.credits ul {
	font-size: small;

	list-style-type: none;
	padding: 5px;
}
