html, body, .game {
	text-align: center;
	height: 100%;
	margin: 0;
}

.stats {
	border-style: solid;
	border-width: 5px 5px 2.5px;
	background-color: lightgray;
}

.cookies-display, .upgrades {
	border-style: solid;
	border-width: 5px;
}
